/* die zeile für Hintergrundbild:
background-image: url(bilder/wegehintergrund.gif);
background-repeat: no-repeat;
	background-position: top right;
Farbverlauf:
background-image: linear-gradient(90deg, #cdeeba, #8fbc8f);
	background-color: #cdeeba;
background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.3));
	background-image: radial-gradient(90deg, #082f06, #0a4007);
background-image: linear-gradient(90deg, #082f06, #0a4007);
/*sehr dunkles grün: #082f06
	background-position: top left;
/*	background-blend-mode: luminocity;

alles drüberliegende transparent:
	opacity: 0.8;

*/

/*.bg-fixed {
	overflow-y: none;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
*/

body {
	background-image: url(https://rursee-openair.de/pics/background2024_oil.jpg);
	background-color: #ff;
	overflow-x: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	/* margin-top: 20px; */
	text-align: center;
}

.bgindex {
	background-position: top center;
	background-image: url(https://rursee-openair.de/pics/lichtback2020.png);
}

.bgbirke {
	background-position: top left;
	background-image: url(https://rursee-openair.de/pics/backbirke.jpg);
	background-size: 800px auto;
}

a {
	font-size: 1.1rem;
	font-weight: bold;
	color: #2f9182;
	line-height: 1.3rem;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #1ba814;
}

a:active {
	text-decoration: none;
	color: darkgreen;
}

h1 {
	text-align: center;
	font-weight: normal;
	font-size: 2.1rem;
	line-height: 3.1rem;
	font-family: Ubuntu;
}

h2 {
	text-align: center;
	font-weight: normal;
	font-size: 1.6rem;
	font-family: Ubuntu;
}

h3 {
	font-weight: bold;
	text-align: center;
	font-size: 1.3rem;
}

h4 {
	font-weight: bold;
	text-align: center;
	color: #2f9182;
}

main {
	width: 90%;
	max-width: 800px;
/*	height: 98%;*/
	min-height: 600px;
/*	overflow-y: scroll;
	overflow-x: hidden; <-(nur wagerecht) - kommt durch die beiden overflow der BAlken, den man auf LINUX Firefox sieht?*/
	margin: 20px auto 60px auto;
	position: static;
	font-family: Arial;
	text-align: center;
}

.mitte {
	float: none;
	min-height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	/*background-color: rgba(228, 205, 64, 0.6); /*halbdurchsichtiges gelb*/
}

.logo2020 {
	height: 300px;
	width: auto;
	padding: 20px 15px 15px 15px;
	text-align: center;
}

.article {
	width: 97%;
	font-size: 1.1rem;
	color: #082f06;
	line-height: 1.6rem;
	margin: 10px 10px 10px 10px;
	padding-right: 5px;
	position: static;
	float: none;
	/*background-color: blue;*/
}

nav {
	width: 100%;
/*	padding: 0px 4px 10px 4px;
	margin: 0px 20px 0px 20px;
	background-color: rgba()
/*	background-color: #044f00 - das ist die Überschriftfarbe*/
}

.menu {
	background-color:	#2f9182; /*grün wie plakat*/
	/*background-color:	lightskyblue;*/
	font-weight: normal;
/* color: #e3c961; - das ist das Senf-Gelb von Nick */
	color: #ffe269;  /*f9b15a; helles orange */
	float: none;
	text-align: center;
	font-size: 1.1rem;
  font-family: Ubuntu;
	line-height: 2.5rem;
	position: fixed;
	width: 100%;
	margin-top: 0px;
}

.puffer {
	height: 350px;
}

.menu a {
/*	color: 	#003093; knallblau dunkel*/
	font-size: 1.1rem;
	line-height: 2rem;
	color: #ffe269; /* #e3c961; senf-gelb von nick */
}

.menu a:link {
	text-decoration: none;
	color: #ffe269;
}

.menu a:visited {
	text-decoration: none;
}

.menu a:hover {
	text-decoration: none;
	color: orange;
}

.menu a:active {
	text-decoration: none;
	color: #ffe269;
}

.oben {
	/*background-color: rgba(255, 255, 255, 0.7); /*halbdurchsichtiges Weiss*/
	height: auto;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 5px 5px 5px 5px;
	/*overflow: hidden;*/
}

.fit {
	object-fit: contain;
/*	position: relative;
	z-index: 1;
	top: -120px;
	- > verschieben von übereinanderliegenden objekten Z höher -> oben*/
}

#drin {
	width: 100%;
	object-position: center center;
}

#drunten {
	width: 100%;
	object-position: center bottom;
}

#droben {
	width: 100%;
	object-position: center top;
}


.title {
	text-align: left;
	margin: 0px 4px 0px 10px;
	color: #1874cd;
}

	.rand {
	width: 95%;
/*background-color: brown;
*/
}

p {
	/*verhindert Umbruch in Spalte: */
		-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
		break-inside: avoid; /* IE 10+ */
		page-break-inside: avoid; /* Firefox */
}

.kontakt {
	break-after: column;
	text-align: left;
}

.selbst {
	color: orange;
	font-weight: normal;
}

/*Liste*/
ul {
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: auto;
	color: darkgreen;
	float: none;
/*verhindert Umbruch in Spalte: */
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
	page-break-inside: avoid; /* Firefox */
	break-inside: avoid; /* IE 10+ */
	-webkit-column-break-inside:avoid;
	-moz-column-break-inside:avoid;
	-o-column-break-inside:avoid;
	-ms-column-break-inside:avoid;
	column-break-inside: avoid;
}

.blau {
	color: darkblue;
	font-weight: normal;
}

.orange {
	color: darkorange;
	font-weight: bold;
}


.textklein {
	font-size: 0.8rem;
	display: block;
	line-height: 1rem;
	font-weight: normal;
	color: black;
}

.bandbig a {
	color: #2f9182;
	font-size: 2.5rem;
	font-weight: bold;
	font-family: Ubuntu;
	line-height: 3.5rem;
	text-align: center;
	text-decoration: none;
}

.bandbig a:hover {
	color: darkorange; /*	color: #2f9182;*/
	text-decoration: none;
}

.bandhead a {
color: darkorange;
font-size: 3rem;
font-weight: bold;
font-family: Ubuntu;
line-height: 4rem;
text-align: center;
text-decoration: none;
}

.bandlittle {
	color: black;
	font-size: 1.4rem;
	font-weight: bold;
	font-family: Ubuntu;
	line-height: 2.4rem;
	text-align: center;
	text-decoration: none;
	}

.bandlittle a {
	color: #2f9182;
	font-size: 1.6rem;
	font-weight: bold;
	font-family: Ubuntu;
	line-height: 2.4rem;
	text-align: center;
	text-decoration: none;
	}

.bandlittle a:hover {
	color: darkorange;
	text-decoration: none;
}

.bandhead a:hover {
	color: darkgreen; /*	color: #2f9182;*/
	text-decoration: none;
}

.kasten {
	align-items: center;
	align-self: center;
	text-align: center;
	border: 3px ridge #2f9182;
	border-radius: 40px;
	margin: 2px;
	padding: 20px 30px;
	background-color: #ffe269;
  /*background-color: rgba(228, 205, 64, 0.9); /*halbdurchsichtiges gelb*/
	/* background-color: #e3c961;  - das ist das Senf-Gelb von Nick */
}

 	margin-left: 10px;
}

.hinterseespace {
	height: 150px;
	padding: 50px 0px 10px 0px;

}

.little a {
	color: black;
	font-size: 0.8rem;
	font-weight: normal;
	font-family: Ubuntu;
	line-height: 1.5rem;
	text-decoration: none;
}

.bandbild {
	 width: 600px;
	 position: center;
}

.portraitbild 	{
	height: 500px;
	 position: center;
}

.galeriebild {
	 width: 600px;
	 position: center;
}

/* Klapp-Menü: (Collapsible)

siehe:https://codeburst.io/how-to-make-a-collapsible-menu-using-only-css-a1cd805b1390
*/
/*

input#klapp-idee {
    display: none;
}

input#klapp-inhalt {
    display: none;
}

input#klapp-detail {
    display: none;
}

input#klapp-menue {
    display: none;
}

.kollapstext {
	max-height: 100%;
	overflow: hidden;
	padding: 0px;
}

.rechtskollaps {
	max-height: 0;
	overflow: hidden;
}
*/
/* Toggle-Effect = Umschalt-Effekt */
/*
input:checked ~ .kollapstext label {
    background-image: url(https://rursee-openair.de/pics/runterweisspfeil.png);
		background-position: left bottom;
		background-repeat: no-repeat;
}

input:checked ~ .kollapstext {
    max-height: 0;
		overflow: hidden;
}

input:checked ~ .rechtskollaps {
    max-height: 100%;
		overflow: hidden;
		padding: 0;
}

input:checked ~ .rechtskollaps label {
    background-image: url(https://rursee-openair.de/pics/hochweisspfeil.png);
		background-position: left bottom;
		background-repeat: no-repeat;
}
*/
/* außerdem gehört zum Umschaltmenü: .menublue label */


.fenster-mehrzeilig {
	width: 90%;
	column-width: 300px;
	column-gap: 40px;
	border-right: 10px;
	text-align: left;
/*	background-color: yellow;*/
}

.fenster {
	width: 90%;
	column-width: auto;
	text-align: center;
}

.rechtsmenu-window {
	width: 55%;
	column-width: 400px;
	border-right: 10px;
}

hr {
	color: darkgrey;
	display: default;
	/*	visibility: hidden;*/
	size: 2px;
	width: 90%;
}


.link {
	color: honeydew;
/*	font-weight: bold;*/
	font-style: italic;
	font-size: 1rem;
	text-align: center;
}


footer {
		font-size: 0.8rem;
		display: block;
		line-height: 1rem;
		font-weight: normal;
		color: black;
}

footer a:link {
		text-decoration: underline;
		font-size: 0.8rem;
		color: black;
}

footer a:active {
		text-decoration: underline;
		font-size: 0.8rem;
		color: black;
}

footer a:visited {
		text-decoration: underline;
		font-size: 0.8rem;
		color: darkgreen;
}

footer a:hover {
		text-decoration: underline;
		font-size: 0.8rem;
		color: black;
		background-color: #e2c877
}

.dschutz a:link {
		font-size: 0.8rem;
		display: block;
		line-height: 1rem;
		font-weight: normal;
		color: white;
}


.zurueck {
	float: left;
	padding: none;
	margin: none;
	color: white;
	background-color: darkblue;
	position: relative;
	z-index: 2;
	top: 5px;
}

.foto {
	min-width: 210px;
	width: 40%;
	margin: 15px 10px 15px 10px;
 	text-align: center;
	position: static;
	float: left;
}

.logopic {
	height: 100px;
	width: auto;
	padding: 20px 15px 15px 15px;
	text-align: center;
}

.netzfreunde {
	width: 150px;
	margin: 15px 10px 15px 10px;
 	text-align: center;
	vertical-align: top;
	position: static;
	float: left;
}

.blocktext {
 	text-align: justify;
	/*float: none;*/
}

ul#blacklist {
  margin-bottom: 20px;
	padding: 0px;
	line-height: 2rem;

}

ul#blacklist li {
	font-size: 1rem;
	line-height: 1.2rem;
	margin-left: 15px;
	color: black;
}

ul#blacklist li a:link {
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9rem;
	line-height: 1.8rem;

/*	color: #208b7b;*/
	color: black;
}

ul#blacklist li a:hover {

	text-decoration: none;
	font-weight: bold;
/*	color: #48b5a4; #2d6e29*/
	color: black;
	background-color: #e2c877;
}

ul#blacklist li a:active {

	text-decoration: none;
	font-weight: bold;
		line-height: 2rem;
/*	color: #48b5a4;*/
	color: black;
}

ul#blacklist li a:visited {
	text-decoration:none;
	font-weight: bold;
	color: black;
/*	color: #48b5a4;*/
}

ul#ablauf {
  margin-bottom: 20px;
  padding: 0px;
	line-height: 1.2rem;
}

ul#ablauf li {
	font-size: 0,9rem;
	line-height: 1.2rem;
	padding-left: 15px;
}

ul#ablauf li a:link {
	text-decoration: underline;
	font-weight: bold;
	font-size: 0.9rem;
/*	color: #208b7b;*/
	color: darkgreen;
}

ul#ablauf li a:hover {
	text-decoration: none;
	font-weight: bold;
	font-size: 0.9rem;
/*	color: #48b5a4; #2d6e29*/
	color: green;
	background-color: #e2c877;
}

ul#ablauf li a:active {
	text-decoration: underline;
	font-weight: bold;
	font-size: 0.9rem;
/*	color: #48b5a4;*/
	color: #2d6e29;
}

ul#ablauf li a:visited {
	text-decoration: underline;
	font-weight: bold;
	font-size: 0.9rem;
	color: #000;
/*	color: #48b5a4;*/
}

blockquote {
	margin:inherit;
	font-size: 0.9rem;
	line-height: 1.2rem;
}

cite {
/*	margin: inherit; */
	font-size: 0.9rem;
	line-height: 1.1rem;
	text-align: left;
}

.nix {
		display: none;
}


/*MEDIEN ANFRAGEN */

@media (max-width:1000px) {

		.obenabstand {height: 70px}

  	main {
		width: 100%;
		margin: 0px 0px 0px 0px;
	}

/* Keine Ränder, wenn Bildschirm-Breite weniger als 1000*/
}


@media (max-width:600px) {

	.obenabstand {height: 70px}

	.mitte {
		width:100%;
		height: auto;
	/*	background-color: rgba(255, 255, 255, 0.9);  nur bei backgroundimage */
	}

	nav, .menu {
		width: 100%;
		height: auto;
		border: 0px;
		font-weight: normal;
		text-align: center;
		line-height: 1.4rem;
		font-size: 1.1rem;
	}
	.logo2020 {
		height: 200px;
		padding: 50px 0px 10px 0px;
	}

	a {
		line-height: 1.4rem;
		font-size: 1.1rem;
	}

	bandbig a {
		font-size: 1.7rem;
		line-height: 2rem;
	}

	.bandlittle a {
		font-size: 1.5rem;
		line-height: 2rem;
		}

	.fenster, .fenster-mehrzeilig {
			width: 100%;
	}

	.bandbild {width: 300px}

	.portraitbild {height: 250px}

	.oben {
			padding: 0px 0px 0px 0px;
	}

	article {
		/*width: 100%;*/
		font-size: 1rem;
		margin: 0px 0px 0px 0px;
	}

	.kasten {padding: 5px}

	.logo {left: 2%}

  .foto {float: none}

	.netzfreunde {
		width: 80px;
	}

	.logopic {
		height: 60px;
		padding: 5px;
	}

	h1 {
		font-size: 1.2rem;
		line-height: 2rem;
		font-family: Ubuntu;
	}

	h2 {
		font-size: 1.2rem;
		line-height: 1.4rem;
		font-family: Ubuntu;
	}

	h3 {
		font-family: Ubuntu;
	}

	h4 {
		font-family: Ubuntu;
	}

	footer {
		font-size: 0.8rem;
		line-height: 1.1rem;
	}

}



@media (max-width:780px) {

	.fenster-mehrzeilig { columns: 1}

	.obenabstand {height: 70px}

}


/*
@media (max-width:600px) {

  	.fenster {overflow: visible}

	/* Kein Fenster, wenn Bildschirm-Breite weniger als 600*/
/*
}

@media (max-height:650px) {

  	.fenster {overflow: visible}


	/* Kein Fenster, wenn Höhe weniger als 500*/

}

/*@media (max-height:700px) {

  	.mitte {overflow-y: visible}

/* Keine Scrollbars in mitte, wenn Höhe weniger als 700 (design ohne .fenster*

}
*/


/*
@media (max-height:700px) {

  	.main {overflow-y: scroll}


	/* Aussen scrollen, wenn wenn Höhe weniger als 700

}
*/


/* dazugehöriger HTML-code:
<h3>Table of Contents</h3>
<ol>
 <li><a href="#p1">Jump to the first paragraph!</a></li>
 <li><a href="#p2">Jump to the second paragraph!</a></li>
 <li><a href="#nowhere">This link goes nowhere,
   because the target doesn't exist.</a></li>
</ol>

<h3>My Fun Article</h3>
<p id="p1">You can target <i>this paragraph</i> using a
  URL fragment. Click on the link above to try out!</p>
<p id="p2">This is <i>another paragraph</i>, also accessible
  from the links above. Isn't that delightful?</p>
*/
/*
 Beispiel sprunglink innerhalb seite:
 <a href="#anfangderseite">zum Anfang der Seite</a>
Beispiel sprungziel:
<h1 id="anfangdestextes">...</h1>
<p id="absatz1">...
<h2 id="unterkapitel11">...</h2>

... auf andere Seiten:
<a href="andereseite.htm#unterkapitel2">
zum Bereich 2 auf anderen Seite</a>
*/
