---
layout: default
---
<h1 class="kasten" id="top">Bands 2024</h1>
<br>
<br>
<article class="kasten">
  <span class="bandbig">
    <b>Freitag:</b>
    <br><a href="#band4" <target="_self">HÔPITAL</a>
    <br><a href="#band5" target="_self">CHABUBA KLAAN</a>
  </span>
  <br>
</article>
<br>
<br>
<article class="kasten">

  <b>Samstag:</b><br>
  <span class="bandhead">
    <a href="#band1" target="_self">THE QUICKSTEPS</a>
  </span>
  <br>
  <span class="bandbig">
    <a href="#band2" target="_self">EARLY IN THE FRIDGE</a><br>
    <a href="#band6" target="_self">MARION & SOBO</a><br>
    <a href="#band3" target="_self">PAROLI</a>
  </span>
  <br>
  <br>
  Durch das Programm führt:<br>
  <span class="bandlittle">
    <a href="#liesezudritt" target="_self">Dana</a>
  </span>
  <br>
</article>
<br>
<br>
<article class="kasten" id="band1">
  <h1>THE QUICKSTEPS</h1>
  <img src="pics/artists/quicksteps.jpg" class="bandbild"></img>
  <br>
  <br>Diese fast fußballteam-starke Gruppe live zu erleben, ist ein Fest, denn Sie haben
  unfassbar viel Bock auf genau das, was sie machen: Zusammen mit jeder und jedem einzelnen
  von uns eine fette Party zu feiern und Ska zu zelebrieren!
  <br>Deshalb bespielen die <i>Quicksteps</i> nun schon seit 1999 kontinuierlich die Bühnen
  Deutschlands und der europäischen Nachbarn mit nicht abebbender Begeisterung;
  bewiesen haben sie ihre Leidenschaft sowohl auf großen Festivalbühnen als auch in Clubs -
  ob in Prag, Wien, Köln, Hamburg oder Gent.
  <br>Musikalisch bewegen sich die Aachener Offbeat-Boys dabei zwischen 2nd und 3rd Wave.
  Entsprechend klingen die <i>Quicksteps</i>-typischen Songs: Rocksteady und Uptempo-Ska,
  dazu eine Menge Rock, Pop, Punk und Swing.
  <br>
  <br>
  <br>
  <a href="https://thequicksteps.de/" target="_blank">thequicksteps.de</a><br>
  <a href="https://www.youtube.com/channel/UCmVT9KQOhOaJINLFIH0hsVA" target="_blank">youtube-channel</a>
  <br>
  <br><a href="#top" target="_self" class="blau">nach oben</a>
</article>
<br>
<br>
<article class="kasten" id="band2">
<h1>EARLY IN THE FRIDGE</h1>
<img src="pics/artists/fridge1.jpg" class="bandbild"></img><br><br>
Die fünf Herren von <i>Early In The Fridge</i> machen seit Jahren feinen Indie-Pop-Rock und arbeiten weiter hart daran, zu Kölns bestgehüteten Musikgeheimnissen zu gehören. <br>
Indie eben!<br>
<br>
<a href="https://www.fridgemusic.de" target="_blank">www.fridgemusic.de</a><br>
<br>
<a href="#top" target="_self" class="blau">nach oben</a>
</article>
<br>
<br>
<article class="kasten" id="band6">
<h1>MARION & SOBO</h1>
<img src="pics/artists/marionsobo.jpg" class="bandbild"></img><br><br>
MARION & SOBO singen und spielen mit viel Charme, Humor, Leichtigkeit und Spielfreude für ein kultur- und generationsübergreifendes Publikum. Neben ihren Eigenkompositionen interpretieren die Musiker einige Klassiker als Hommage an ihre musikalischen Wurzeln von West- und Ost-Europa zwischen dem französischen Swing der 30er bis hin zu den traditionellen Melodien des Balkan. <br><br>
Das Bonner Duo besteht aus der mehrsprachigen franko-amerikanischen Sängerin Marion Lenfant-Preus
und dem polnischen Gitarristen Alexander Sobocinski, genannt Sobo. Er stammt aus Polen, sie stammt aus Frankreich, und die zwei vielgereisten Musiker lernten sich auf einer Jazz-Session in Bonn kennen.
Seitdem folgen sie gemeinsam mit ihrer Band der Idee, Musik über Schubladen hinweg zu kreieren.<br><br>
<b>"Gomera" ALBUM RELEASE TOUR</b><br>
MARION & SOBO haben im Frühling 2024 ihr neues Album „gomera“ veröffentlicht und beweisen damit endgültig, dass handgemachte, akustische Musik nicht nur filigran, kontemplativ und farbenreich sein
kann, sondern selbst ohne Schlagzeug auch hochenergetisch und wuchtig. Das deutsch-französisch-polinische Duo kreiert so einen New Gypsy Jazz vermählt mit Chanson und Vocal Jazz, der die Welt
umarmt.
<br>
<br>
<a href="https://www.marionandsobo.com" target="_blank">www.marionandsobo.com</a><br>
<a href="https://www.youtube.com/marionsoboband" target="_blank">www.youtube.com/marionsoboband</a><br>
<br>
<a href="#top" target="_self" class="blau">nach oben</a>
</article>
<br>
<br>
<article class="kasten" id="band3">
    <h1>PAROLI</h1>
    <img src="pics/artists/paroli.jpg" class="portraitbild"></img><br>
    <br>
    Eine Menge Indie Allüren, etwas Punk Attitüde mit Rock Riffs, 80s-Synth an den richtigen Stellen und feinsten Texten – so könnte man <i>Paroli</i> aus Aachen beschreiben. Frank Schön, Marcel Schermann, Kevin Ostertag und Theresa Vosdellen bringen mitreißende Rocksounds zu Texten über die Ironien des Lebens auf die Bühne. Und zwar mit einer Menge guter Laune, auch wenn hier und da immer etwas Platz für Sentimentalität bleibt. Es geht neben aktuellen politischen Themen um die Macaronsuche um ein Uhr nachts, das Leben, das zum Monster mutiert, die Zeit, die vor dem flieht, was man mit ihr vorhat, und das Problem, im Supermarkt plötzlich nicht mehr zu wissen, was man wirklich braucht. <br>
    Tanzbeine sind jederzeit herzlich erwünscht und bleiben sicherlich nicht stillstehen. <br>
    <br>
    Seit 2019 tingeln sie über die Bühnen der Region und ziehen zunehmend größere Kreise mit ihrem Sound, der auf nostalgische Weise den Zeitgeist trifft. Hier und da erkennt man Einflüsse wie von „Wir sind Helden“, „Arctic Monkeys“, „Bloc Party“ oder „Betterov“. Die richtige Schublade, in die man Paroli stecken könnte, wurde aber noch nicht gefunden. Und das soll auch so bleiben.<br>
    <br>
    videos: <a href="https://www.youtube.com/channel/UCUCVnpeT5BsActoc3IR8C7g" target="_blank">youtube-channel</a><br>
    <br>
    <a href="#top" target="_self" class="blau">nach oben</a>
  </article>
  <br>
  <br>
<article class="kasten" id="band5">
  <h1>CHABUBA KLAAN</h1>
  <img src="pics/artists/chabubaklaan1.jpg" class="bandbild"></img>
  <br>
  <br><i>ChaBuBa Klaan</i> ist eine Kölner Band mit der Absicht zu unterhalten
  und positive Vibes auszusenden an alle Spaß- und Musik-liebenden Menschen,
  unabhängig von Alter, Hautfarbe oder Geschlecht.
  <br>Ihre Musikrichtung: Reggae-Poetry, CrossOver, Rock'n'Roll.
  <br>
  <br><i>ChaBuBa Klaan</i> is a Cologne based Band,  with the intent to entertain and
  spread the positive vibes to all fun and music loving people, regardless of
  Age, Colour or Gender.
  <br>Their Music Genre: Reggae-Poetry, CrossOver, Rock And Roll.
  <br>
  <bf>
  <br>videos: <a href="https://www.youtube.com/watch?v=oiQMQ1Szxcc" target="_blank">youtube-channel</a>
  <br>
  <br><a href="#top" target="_self" class="blau">nach oben</a>
</article>
<br>
<br>
<article class="kasten" id="band4">
<h1>HÔPITAL</h1>
<img src="pics/artists/hopital.jpg" class="bandbild"></img>
<br>
<br>Die vier Musiker um Sängerin Mareen Wego legen atmosphärische Klangteppiche aus, die mit Liedern wie „December“ den Zauber sternklarer Nächte heraufbeschwören.
In luftigeren Stücken wie „Merry Go Round“ wissen Gitarre, Bass, Cajon und Cello aber auch Tontexturen zu knüpfen, die den mehrstimmigen Gesangsharmonien den Weg in heitere Gefilde
ebnen.<br>
Längerfristiges Verharren in den selben Klangsphären haben die Multi-Instrumentalisten aber nur selten vor. Mit Wechseln ans Klavier, bunter Auswahl an Percussion oder A cappella Einlagen flechten sie stets neue Elemente an ihr Klangwerk, sodass den Zuhörer auch am Ende des Konzertes noch überraschende Resonanzräume erwarten.<br>
Wer sich in den Klanglandschaften von Big Thief oder Ben Howard zu Hause fühlt, wird sich bei Hôpital sicherlich heimisch fühlen.
<br>
<bf>
<br>musik: <a href="https://soundcloud.com/hopital_band" target="_blank">bei soundcloud</a>
<br>
<br><a href="#top" target="_self" class="blau">nach oben</a>
</article>
<br>
<br>
<article class="kasten" id="liesezudritt">
  <h1>Moderation</h1>
    <img src="pics/artists/moderation.png" class="bandbild"></img>
  <br>
  <br>
    <span text-align="left">Dana (im Bild zu
      sehen mit der Festival-Leitung Katrin und Maykel) ist die ortsansässige Moderatorin -
    mit Willkommen-heißenden Einleitungen der Bands und Künstler_innen und
    liebevollen Ansagen aller Richtigwichtigkeiten des Festivalbetriebs.
    <br>Je nach Laune des Publikums bricht sie einzwo eigene Songs vom Zaun.
  </span>
  <br>
  <br>
  <br><a href="#top" target="_self" class="blau">nach oben</a>
</article>
<br>
<br>
