---
layout: default
---
<h1 class="kasten">Galerie</h1>
<br>
  <article class="kasten">
    <br>
    <img src="pics/galerie/2024/plakat2024.jpeg" class="portraitbild"></img>
    <br>
    <footer>Grafik: Maxim Forster</footer>
    <br>
  </article>
<br>
  <h2 class="kasten">Bilder von 2023</h2>
<br>
  <article class="kasten">
    <br>
    <img src="pics/galerie/2023/plakat2023.png" class="portraitbild"></img>
    <footer>Grafik: Maxim Forster</footer>
    <br>
  </article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2023/01.jpg" class="bandbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2023/02.jpg" class="bandbild"></img>
  <br>
  <br>
  The Outcrowd
  <br>social media: <a href="https://www.facebook.com/theoutcrowdcologne" target="_blank">facebook</a>,
  <a href="https://www.instagram.com/the_outcrowd_cologne/" target="_blank">instagram</a>
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2023/03.jpg" class="bandbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2023/04.jpg" class="portraitbild"></img>
  <br>
  <br>
  Fatum
  <br>  <br>homepage: <a href="https://fatum-eifel.de" target="_blank">www.fatum-eifel.de</a>
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2023/05.jpg" class="portraitbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2023/06.jpg" class="bandbild"></img>
  <br>
  <br>
  <a href="https://www." target="_blank" title="Jemma Endersby">Jemma Endersby</a>
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2023/anticapital.jpg" class="bandbild"></img>
  <br>
  <br>
  <a href="https://www." target="_blank" title="">Anticapital Branko</a>
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2023/lutrifique.jpg" class="portraitbild"></img>
  <br>
  <br>
  <a href="https://www." target="_blank" title="">Lutrifique</a>
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2023/zirkus2.jpg" class="portraitbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2023/zirkus1.jpg" class="bandbild"></img>
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2023/moderation.jpg" class="bandbild"></img>
  <br>
  <br>
Festivalstart
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2023/liese.jpg" class="bandbild"></img>
  <br>
  <br>
  Liese zu Dritt
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2023/cafe.jpg" class="bandbild"></img>
  <br>
  <br>
  <br>website: <a href="https://ingo-cafe.com/" target="_blank">ingo-cafe.com</a>
  <br>
  <br>
</article>
<h2 class="kasten">Bilder von 2022</h2>
<br>
<article class="kasten">
  <img src="pics/galerie/2022/poster_2022.jpg" class="portraitbild"></img>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2022/Vult1.jpg" class="bandbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2022/Vult2.jpg" class="bandbild"></img>
  <br>
  <br>
  <a href="https://www.backstagepro.de/the-vult" target="_blank" title="The Vult">The Vult</a>
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2022/Blitzed1.jpg" class="bandbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2022/Blitzed2.jpg" class="bandbild"></img>
  <br>
  <br>
  <a href="https://soundcloud.com/minnellisdelta" target="_blank" title="Blitzed on soundcloud">Blitzed</a>
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2022/Dom1.jpg" class="portraitbild"></img>
  <br>
  <br>
  Domdrums Little Rhythm- and Loop-Lab
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2022/MITF1.jpg" class="bandbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2022/MITF2.jpg" class="portraitbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2022/MITF3.jpg" class="bandbild"></img>
  <br>
  <br>
  <a href="http://meintheforest.de" target="_blank">Me in the Forest</a>
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2022/Cap1.jpg" class="bandbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2022/Cap2.jpg" class="portraitbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2022/Cap3.jpg" class="portraitbild"></img>
  <br>
  <br>
  The Capiluns
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2022/HDK1.jpg" class="bandbild"></img>
  <br>
  <br>
  Die Heiligen Drei Könige
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2022/Zir1.jpg" class="bandbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2022/Zir2.jpg" class="portraitbild"></img>
  <br>
  <br>
  Kinder-Zirkus
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2022/Liese1.jpg" class="bandbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2022/Liese2.jpg" class="bandbild"bild"></img>
  <br>
  <br>
  <img src="pics/galerie/2022/Woff2.jpg" class="bandbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2022/Woff3.jpg" class="bandbild"></img>
  <br>
  <br>
  Impressionen
  <br>
  <br>
</article>
<br>
<h2 class="kasten">Bilder von 2019</h2>
<br>
<article class="kasten">
  <img src="pics/galerie/2019/poster_2019.jpg" class="portraitbild"></img>
  <br>
  <br>
</article>
<article class="kasten">
  <br>
  <img src="pics/galerie/2019/Lichtkunst0.jpg" class="bandbild"></img>
  <br>
  <br>
  <img src="pics/galerie/2019/Lichtkunst1.jpg" class="bandbild"></img>
  <br>
  <br>
  <a href="https://www.feuerartistik.com/" target="_blank" title="zur Künstler-Website">
    Feuerartistik von René Albert</a>
    <br>
    <br>
  </article>
  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/Kapelle0.jpg" class="bandbild"></img>
    <br>
    <br>
    <a href="http://kapelle3.de" target="_blank" title="zur Künstler-Website">Kapelle#3</a>
    <br>
    <br>
  </article>
  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/Kapelle1.jpg" class="portraitbild"></img>
    <br>
    <br>
    <a href="http://kapelle3.de" target="_blank" title="zur Künstler-Website">Kapelle#3</a>
    <br>
    <br>
  </article>

  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/MarekMarple0.jpg" class="bandbild"></img>
    <br>
    <br>
    <br><img src="pics/galerie/2019/MarekMarple1.jpg" class="bandbild"></img>
    <br>
    <br>
    <img src="pics/galerie/2019/MarekMarple2.jpg" class="portraitbild"></img>
    <br>
    <br>
    <a href="http://www.marekmarple.net" target="_blank" title="zur Künstler-Website">Marek Marple</a>
    <br>
    <br>
  </article>
  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/Fofofi.jpg" class="bandbild"></img>
    <br>
    <br>
    <a href="http://fofofi.de" target="_blank" title="zur Künstler-Website">FoFoFi</a>
    <br>
    <br>
  </article>

  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/ThreeDeuces0.jpg" class="bandbild"></img>
    <br>
    <br>
    <a href="https://www.threedeuces.de/" target="_blank" title="zur Künstler-Website">Three Deuces</a>
    <br>
  </article>

  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/ThreeDeuces1.jpg" class="bandbild"></img>
    <br>
    <br>
    <br>Three Deuces
    <br>
    <br>
  </article>

  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/FarahRieli0.jpg" class="bandbild"></img>
    <br>
    <br>
    <img src="pics/galerie/2019/FarahRieli1.jpg" class="bandbild"></img>
    <br>
    <br>
    <a href="https://facebook.com/farahrielimusic" target="_blank" title="zur Künstler-Website">Farah Rieli</a>
    <br>
    <br>
  </article>
  <article class="kasten">
    <br>
    <img src="pics/specials/hoehle.jpg" class="bandbild"></img>
    <br>
    <br>Das Höhlenlabyrinth im Nabedi-Camp
    <br>
  </article>

  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/Publikum1.jpg" class="bandbild"></img>
    <br>
    <br>Es gibt Grillwurst, Salate und lecker Getränke - von vielen ehrenamtlichen Helfer_innen!
    <br>
  </article>

  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/Publikum2.jpg" class="bandbild"></img>
    <br>
    <br>Das entspannte Publikum
    <br>
  </article>

  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/Publikum3.jpg" class="portraitbild"></img>
    <br>
    <br>Und die Kulisse bildet der Rursee...
    <br>
  </article>
  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/Publikum4.jpg" class="bandbild"></img>
    <br>
    <br>Ein heißer Tag!
    <br>
  </article>

  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/LieseZuDritt0.jpg" class="bandbild"></img>
    <br>
    <br>Liese zu Dritt
    <br>
  </article>

  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/LieseZuDritt1.jpg" class="portraitbild"></img>
    <br>
    <br>Liese zu Dritt
    <br>
  </article>

  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/LieseZuDritt2.jpg" class="bandbild"></img>
    <br>
    <br>Liese zu Dritt
    <br>
  </article>

  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/Kasse.jpg" class="bandbild"></img>
    <br>
    <br>Unsere eigene Künstlersozialkasse
    <br>
  </article>

  <article class="kasten">
    <br>
    <img src="pics/specials/InGoCafe.jpg" class="bandbild"></img>
    <br>
    <br><a href="https://www.facebook.com/ingocafeofficial/" target="_blank">Cafébar In Go Café</a>
    <br>
  </article>
  <article class="kasten">
    <br>
    <img src="pics/galerie/2019/InGoCafe1.jpg" class="portraitbild"></img>
    <br>
    <br>Cafébar In Go Café
    <br>
  </article>
  <br>
  <h2 class="kasten" id="2018">Bilder von 2018</h2>
  <br>
  <article class="kasten">
    <br>
    <img src="pics/galerie/2018/lichtkunst.jpg" class="bandbild"></img>
    <br>
    <br>
    <a href="https://http://www.feuerartistik.com/" target="_blank" title="zur Künstler-Website">Lichtjonglage von René Albert</a>
    <br>
    <br>
  </article>
  <article class="kasten">
    <br>
    <img src="pics/galerie/2018/lichtpublikum.jpg" class="bandbild"></img>
    <br>
    <br>
    Nachtpublikum
    <br>
    <br>
  </article>
  <article class="kasten">
    <br>
    <a href="https://www.chanson-trottoir.de" target="_blank" title="zur Band-Website">
      <img src="pics/galerie/2018/chanson.jpg" class="bandbild"></img>
      <br>
      <br>
      Chanson Trottoir aus Köln</a>
      <br>
      <br>
    </article>
    <article class="kasten">
      <br>
      <img src="pics/galerie/2018/twotongue.jpg" class="bandbild"></img>
      <a href="https://de-de.facebook.com/twotongueclan/" target="_blank" title="zur Band-Website">
        <br>
        <br>
        Two Tongue Clan aus Witten
      </a>
      <br>
      <br>
    </article>
    <article class="kasten">
      <br>
      <img src="pics/galerie/2018/ebendrum.jpg" class="bandbild"></img>
      <br>
      <br>
      Das Kölner Trommelspektakel EBEN DRUM<br>
      <br>
      <br>
    </article>
    <article class="kasten">
      <br>
      <a href="http://www.danamusik.de/" target="_blank" title="zur Künstler-Website">
        <img src="pics/galerie/2018/liese.jpg" class="bandbild"></img>
        <br>
        <br>
        Liese zu Dritt aus Woffelsbach</a>
        <br>
      </article>
      <br>
      <div class="kasten">
        <h2>Bilder von 2017</h2>
      </div>
      <br>
      <article class="kasten">
        <img src="pics/galerie/2017/poster_2017.jpg" class="portraitbild"></img>
      </article>
      <article class="kasten">
        <a href="http://www.danamusik.de" target="_blank" title="zur Künstler-Website">
        <img src="pics/galerie/2017/liebezudritt.jpg" class="bandbild"></img>
        <br>
        <br>
        Liebe zu Dritt</a>
        <br>
        <br>
      </article>
      <article class="kasten">
        <br>
        <a href="https://stachelhaus.tumblr.com/" target="_blank" title="zur Band-Website">
        <img src="pics/galerie/2017/stachelhaus.jpg" class="bandbild"></img>
        <br>
        <br>
        Stachelhaus</a>
        <br>
        <br>
      </article>
      <article class="kasten">
        <br>
        <img src="pics/galerie/2017/seeblick.jpg" class="bandbild"></img>
        <br>
        <br>
        Seeblick
        <br>
        <br>
      </article>
      <article class="kasten">
       <br>
       <img src="pics/galerie/2017/Publikum.jpg" class="bandbild"></img>
        <br>
        Publikum am Tag
        <br>
        <br>
      </article>
      <br>
      <br>
      <br>
      <br>
      <br>
