---
layout: default
---
  <h1 class="kasten">Kontakt</h1>
<br>
<article class="kasten">
  <h4>Festival-Organisation:</h4>
  Katrin | katrin (at) naturbewegtdich.de
  <br>
  <br>
  <h4>Webdesign:</h4>
  Dana | digitaldana (at) gmx.de
  <br>
  <br>
</article>
<br>
<article class="kasten">
  <h1>Impressum:</h1>
  <h4>Haftungsausschluss</h4>
  <p class="textklein">
    Hiermit distanzieren wir uns ausdrücklich von den Inhalten aller
    bei uns verlinkten Seiten und machen uns diese Inhalte nicht zu eigen.
    Diese Erklärung gilt für alle auf unserer Webpräsenz
    angebrachten Links und vergleichbare Vernetzungen.
  </p>
  <br>
  <h4 id="datenschutz">Datenschutzerklärung</h4>
  <p class="textklein">
    <b>Datenschutz</b> Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst.
    Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung. Die Nutzung unserer Webseite ist ohne Angabe personenbezogener Daten möglich.
    Wir haben auf unserer Internetpräsenz keine Cookies oder Tracker installiert.
    <br>Wir erlangen Daten von Nutzern nur, wenn sie uns über die angegebenen Email-Adressen oder per Telefon kontaktieren. Die Datenübermittlung erfolgt freiwillig und die Einwilligung zur Speicherung kann jederzeit widerrufen werden.<br>
    <br>
    Wir versichern hiermit, dass wir gemäß der europäischen Datenschutzverordnung, die am 25.5.2018 in Kraft getreten ist, unsere Nutzerdaten nach den Prinzipien der Zweckbindung, Datenminimierung, Transparenz und Vertraulichkeit behandeln.<br>
    Ohne Ihre ausdrückliche Zustimmung geben wir keine Ihrer persönlichen Daten an Dritte weiter. Wir weisen jedoch darauf hin, dass die Datenübertragung im Internet Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.<br>
    Wir dokumentieren unsere Datenschutz-Maßnahmen und geben jederzeit gerne
    detailliert Auskunft.<br>
    <br>
    <b>Widerspruch Werbung</b>
    Wir widersprechen hiermit der Nutzung der im Impressum und auf der Kontakt-Seite veröffentlichten Kontaktdaten zur unaufgeforderten Sendung - postal sowie elektronisch - von Werbung und Informations-Material und behalten uns bei Nicht-Beachtung rechtliche Schritte vor.
  </p>
</article>
