---
layout: extra-with-logo
---

<article class="kasten">
  <h3>Das Rursee-Openair 2024:</h3>
  <h1 class="orange">FRIEDE - FREUDE - WOFFELSKRACH
  <br>21.-23. Juni 2024</h1>
  <b>zum letzten Mal bei Nabedi!</b>
</article>
<br>
<article class="kasten">
  <div class="kastexleft">
    <h2>Aktuelles</h2>
    <br><footer><time datetime="2024-06-14">14.06.24</time></footer><br>Jetzt steht es fest: Dieses Jahr findet das Woffelskrach <b>zum letzten Mal im Nabedi-Camp</b> statt! Alle, Dir Ihr aufs nächste Jahr verschieben wolltet: Kommt diesmal! Wir freuen uns schon sehr auf Euch :o)<br>
    <br><footer><time datetime="2024-05-03">03.05.24</time></footer>
    Das Bühnenprogramm steht: <a href="bands.html">Fünf Bands</a>, zwei am Freitag und drei am Samstag. Drum herum <a href="programm.html">Specials und leckeres Essen</a>. Dieses Jahr neu: Pizza aus dem Buchenholz-Ofen! Und oben drauf noch ein paar Überraschungen auf der Bühne... <br>
    <br><br><footer><time datetime="2024-04-16">16.04.24</time></footer>
    Gerade ist die <a href="bands.html">vierte Band</a> bestätigt; das Programm füllt sich und wird immer bunter, so wie das sein soll :o)<br>
    <br>
    <br><footer><time datetime="2024-04-04">04.04.24</time></footer>
    Die ersten drei <a href="bands.html">Bands</a> sind bestätigt und gebucht! <br>
    <br>
    Sehr viele Schlafplätze sind schon vergeben. Anfragen für Übernachtsplätze bitte an
    <a href="mailto:info@naturbewegtdich.desubject=Anfrage%20Woffelskrach%202024">info@naturbewegtdich.de</a>.<br>
    <br>
    Diesmal findet das Woffelskrach NICHT am gleichen Tag wie das Woffelsbacher Drachenbootrennen statt. Wir haben also viel Zeit für das Bühnenprogramm am Freitag und Samstag. Das Drachenbootrennen findet statt dessen zwei Wochen vorher am Samstag 8. Juni statt und Nabedi nimmt natürlich wieder mit mindestens einer Mannschaft teil.
    <br>
  </div>
</article>
<br>
<br>
<article class="kasten">
  <div class="kastexleft">
    <h2>Allgemeines</h2>
    <br><footer><time datetime="2024-04-04">04.04.24:</time></footer>
      Herzlich Willkommen :o)
      Auf diesen Seiten findet Ihr alle Infos über unser schönes Woffelskrach, das Rursee-Openair in Woffelsbach (Kreis Simmerath, Städteregion Aachen).
      Das Festivalgelände ist ein Jugendgruppencamp und Campingplatz direkt am Rursee gelegen, wo die Festivalgäste eine begrenzte Anzahl an <a href="location.html#schlaf">Übernachtungsorte buchen</a> können,
      sei es ganze Blockhütten oder einzelne Betten in Mehrbettzimmern, Zelt- oder Stellplätze.
      <br>Unser <a href="programm.html">Bühnenprogramm</a> soll wie immer ein wunderbarer Strauß an Können, Enthusiasmus und Kuriositäten werden.
      Freitag und Samstag spielen <a href="bands.html">Bands</a>, die genauen Startzeiten werden nach und nach im Programm stehen. In den letzten Jahren haben wir dabei gerne regionale Bands mit eigenem Material begrüßt und freuen uns, diesen eine Bühne bieten zu können.<br>
      <br>
      Das Festival finanziert sich vor allem durch den Getränke- und Essensverkauf und das Hutgeld: unsere "Künstlersozialkasse".
      Also habt Euer Geld dabei und lasst Mitgebrachtes im Zelt/Zimmer. Hier weitere Infos zur <a href="location.html#hut">Finanzierung</a> und zu unseren <a href="sponsoren.html">Sponsoren</a>.
      <br>Der Getränke-Verkauf läuft während des gesamten Festivals entweder an den Ständen oder an der Rezeption. Essen gibt es dieses Jahr variationsreicher und schon ab Samstag Mittag - genauere Infos folgen.
      <br>
      <br>Wirklich wichtige und sich rächende wenn ignorierte Infos zur <a href="location.html#reise">Anreise</a> hier.
      <br>
      <br>Bleibt noch zu sagen: Wir freuen uns sehr auf Euch alle!
      <br>
      <br>Liebe Grüße, Euer <a href="impressum.html" target="_self">Festivalkommittee</a> :D
      </div>
  </article>
