---
layout: default
---
<h1 class="kasten">Location und Preise</h1>
<br>
<br>
<article class="kasten">
  <h2>Das Festivalgelände</h2>
  Das Nabedi-Camp in Woffelsbach
  <br>Natur bewegt Dich gemeinnützige GmbH
  <br>Promenadenweg 5
  <br>52152 Simmerath-Woffelsbach
  <br>
  <br>Tel.: 02473 - 93 78 400
  <br><a href="mailto:info@naturbewegtdich.de">info@naturbewegtdich.de</a>
  <br><a href="https://naturbewegtdich.de/uebernachtung" target="_blank"><i>naturbewegtdich.de/uebernachtung</i></a>
</article>
<br>
<br>
<article class="kasten" id="schlaf">
  <h2>Übernachtungen</h2>
  <h4>Preise:</h4>
  <span class="kastexleft">
  <b>21,-€ pro Bett</b> im Blockhaus oder Gruppenhaus in Mehrbettzimmern
  <br>(Ein komplettes Blockhaus exklusiv: mind. 210,-€)
  <br>Zeltplatz und Bauwagen nach <a href="https://naturbewegtdich.de/images/sampledata/pdf/Preise%20und%20Info%2020247_NabeDi-Ubernachtungsangebote.pdf" target="_blank">
      Preisliste 2024</a>.
</span">
  <br>
  <br>
  <b>Übernachtungen buchen und Fragen stellen</b> ab sofort bei Nabedi:
  <br>-> mit elektronischer Post: <a href="mailto:info@naturbewegtdich.de?subject=Anfrage%20Woffelskrach.23.0">info@naturbewegtdich.de</a>.
  <br>-> am Apparat: 02473 - 93 78 400.
  <br>
  <br>
</article>
<br>
<br>
<article id="hut" class="kasten">
  <h2>Hut und Getränke</h2>
  Für die Gagen der Bands werden wir weiterhin mit dem Hut - unserer <i>Künstlersozialkasse</i> - herumgehen und bitten um generöse Spenden.
  Auch die Einnahmen der Getränkestände tragen zu einer angemessenen Künstlergage und der Finanzierung des Festivals bei.
  Deshalb auch dieses Jahr unsere dringende Bitte: Nutzt die Stände während der Veranstaltung,
  bringt keine eigenen Getränke mit!
<br>
<br>
</article>
<br>
<br>

<article class="kasten" id="reise">
  <h2>Anreise</h2>
  Alle Übernachtungsgäste checken an der Rezeption im Nabedi-Camp ein, auch für das Gruppenhaus.
  <br>Weil das in den letzten Jahren überhand genommen und schlimm genervt hat:
  Das Camp-Gelände wird ab Bühnenstart nicht mehr mit Auto befahrbar sein.
  Komfort-Schubkarren und Deluxe-Bollerwagen können ausgeliehen werden
  für Gepäck- und Instrumenten-Transport. Wohnmobile, bitte reist frühzeitig an, ansonsten
  könnt Ihr erst nach Bühnenschluss auf Euren Stellplatz.
  <br>Parkplätze sind in Woffelsbach ein rares Gut. Geht bitte nicht davon aus, dass Ihr einfach spontan mit Eurem
  Bulli / Wohnmobil losfahren könnt und "bestimmt irgendwas" findet. Es gibt allerdings auch viele
  Ferienwohnungen in Woffelsbach und einige Campingangebote im Nachbarort Rurberg und der weiteren Umgebung.
  <br>Hier der <a href="https://www.camping-rursee.de" target="_blanc">Campingplatz in Rurberg</a>.
</article>
<br>
<br>

<article class="kasten"  id="map">
  <h2>Die Lage: Nordeifel</h2>
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=5.827903747558594%2C50.43367317586036%2C6.940269470214845%2C50.82111963202577&amp;layer=mapnik&amp;marker=50.627795500985414%2C6.384086608886719" style="border: 1px solid black">
  </iframe>
  <br><small><a href="https://www.openstreetmap.org/?mlat=50.6278&amp;mlon=6.3841#map=12/50.6278/6.3841" target="_blank">View Larger Map</a></small>
  <br>
  <br><a href="#top" target="_self" class="little">nach oben</a>
  <br>
</article>
  <br>
  <br>
