---
layout: default
---

<h1 class="kasten">Festival-Programm 2024</h1>
<br>
<br>
<article class="kasten">
    <p class="kastexleft">
    <span class="bandlittle">
      <h2>Freitag</h2>
       19:20 Begrüßung und Eröffnung des Festivals
      <br>19:30 <a href="bands.html#band5" target="_self"><b>CHABUBA KLAAN</b></a>
      <br>20:30 <a href="bands.html#band4" target="_self"><b>HÔPITAL</b></a>
      <br>
      <br>
      <h2>Samstag</h2>
      14:30 - 17:30<br>
       <a href="#zirkus" target="_self">- Mitmach-Zirkus</a>
      <br>
      - Tuchakrobatik <br>
      - offene Bühne <br>
      <br>18:00 <a href="bands.html#band3" target="_self">PAROLI</a>
      <br>19:00 <a href="bands.html#band6" target="_self">MARION & SOBO</a>
      <br>20:30 <a href="bands.html#band2" target="_self">EARLY IN THE FRIDGE</a>
      <br>22:00 <a href="bands.html#band1" target="_self">THE QUICKSTEPS</a>
      <br>
      <br>
      <br>
    </span>
   </p>
  </article>
  <br>
  <br>
  <h2 class="kasten">Aktionen und Angebote</h2>
  <br>
  <article class="kasten" id="zirkus">
    <br>
    <span><h2>Mitmachzirkus</h2></span>
    <img src="pics/specials/zirkus.jpg" class="bandbild"></img>
    <br>
    <br>Nach der Begeisterung und Freude, die Ingo im letzten Jahr
    durch seinen Mitmachzirkus hervorgerufen hat, ist er auch dieses Jahr wieder dabei:
    Groß und klein sind eingeladen, sich unter seiner liebevollen Anleitung an
    Jonglage, Clownerie und anderer großartiger Faxenmacherei zu versuchen :o)
    <br>
    <br>
    <br><a href="#top" target="_self" class="blau">nach oben</a>
  </article>
  <br>
  <br>
  <article class="kasten" id="cafe">
    <h2>KLEE CAFÈ</h2>
    <br>
    <img src="pics/specials/kleecafe.jpeg" class="bandbild"></img>
    <br>
      <br><span text-align="left">
  Dieses Jahr begrüßen wir eine neue "Kaffeebude", die uns mit allen Sorten leckerer Kaffeebohnen-Erzeugnisse versorgen wird:
  KleeCafé. Mit viel Erfahrung und Herz bereitet Markus - professioneller Barista und der Eigentümer - jedem Kaffeeliebhaber eine Genusspause im hektischen Alltag.

  <br>Seine Bohnen bezieht das KleeCafé von regionalen Röstereien, die kleine Mengen per Hand im Trommelverfahren rösten.
  Dabei liegt der Wert neben dem guten Geschmack auch darauf,
  dass die handverlesenen Bohnen fair gehandelt, und BIO zertifiziert sind.
  <br>
  <br>Wir freuen uns schon auf den neuen Supporter und sagen Herzlich Willkommen!
      <br>
    </span>
    <br>
    <br>website: <a href="https://kleecafe.de" target="_blank">kleecafe.de</a>
    <br>
    <br><a href="#top" target="_self" class="blau">nach oben</a>
  </article>
  <br>
  <br>
  <article class="kasten" id="cafe">
    <h2>BACKZIRKUS</h2>
    <br>
    <img src="pics/specials/pizza.jpeg" class="bandbild"></img>
    <br><br>
    <span text-align="left">
  <b>"in crust we trust"</b><br>
  Unsere Pizzen werden nach original neapolitanischem Rezept zubereitet, durch die extra lange Teigführung entsteht ein besonders
  aromatischer Geschmack und der herrlich fluffig und knusprige Rand.<br>
  Wir verwenden nur beste Zutaten ohne Zusatzstoffe, das fängt bei Mehl, Salz und  Tomatensoße an und hört bei frischem Gemüse und unserem selbstgemachten Knoblauchöl noch lange nicht auf.<br>
  <br>
  <b>Eine heisse Sache</b><br>
  Unser Pizzaofen wird mit Buchenholz auf mindestens 480°C Grad vorgeheizt, so dauert es höchstens 90 Sekunden bis der Teigling direkt auf dem Stein, zu seiner wahren Größe anwächst.<br>
  Wir lieben den Crunch!<br>
    </span>
    <br>
    <br>website: <a href="https://backzirkus.de" target="_blank">backzirkus.de</a>
    <br>
    <br><a href="#top" target="_self" class="blau">nach oben</a>
  </article>
