---
layout: default
---

  <h1 class="kasten">Aktionen und Angebote</h1>
  <br>
  <br>
  <article class="kasten"  id="hoehle">
    <br>
    <span><h2>Höhlenlabyrinth</h2></span>
    <img src="pics/specials/hoehle.jpg" class="bandbild"></img>
    <br>
    <br>In einer Holzbox (4 x 2 x 2 Meter) gibt es einen über 30m langen, engen und verwinkelten Gang im Dunkel ohne Taschenlampen zu entdecken. Bisher hat noch jeder mutige Höhlenforscher wieder herausgefunden! ... aber Obacht: der Parcours verlangt einiges an Nervenstärke und Geschicklichkeit und ist deshalb nur für Kinder ab 5 Jahren und für Personen bis 1,95 m Größe und unter 95 kg Gewicht geeignet.
    <br>
    <br>
    <br><a href="#top" target="_self" class="blau">nach oben</a>
  </article>
  <br>
  <br>
  <article class="kasten" id="cafe">
    <h2>In Go Café</h2>
    <br>
    <img src="pics/specials/InGoCafe.jpg" class="bandbild"></img>
    <br>
    <br><span text-align="left">Das <i>In Go Café</i> war 2019 das erste Mal bei uns und kommt jetzt wieder her:
      <br> Ein kleines mobiles Café mit Herzenswärme und schattigen Sitzplätzchen, mit minimalem Aufbau und vielfältigen Varianten des heiß geliebten schwarzen Muntermachers plus leckerem Süßgebäck.
      <br>
      Wir freuen uns auf das Wiedersehen!
      <br>
    </span>
    <br>
    <br>website: <a href="https://in-go-cafe.de/" target="_blank">in-go-cafe.de</a>
    <br>
    <br><a href="#top" target="_self" class="blau">nach oben</a>
  </article>
  <br>
  <br>
