---
layout: default
---
<h1 class="kasten">Sponsoren und Partner</h1>
<br>
<br>
<article class="kasten">
  <a href="https://www.raiffeisenbank-simmerath.de/" target="_blank" title="Raiffeisenbank Simmerath"><img src="/pics/sponsor/bank.png" class="logopic" title="Raiffeisenbank Simmerath"></img></a>
  <br>
  <br>
  <br>
  <br>
  <a href="https://www.naturbewegtdich.de" target="_blank" title="nabedi"><img src="/pics/sponsor/nabedi.png" class="logopic"></img></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <a href="https://wegeweise.de" target="_blank" title="wegeweise"><img src="/pics/sponsor/wegeweise.png" class="logopic"></img></a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <img src="/pics/sponsor/zaus.png" class="logopic" title="ZAUS"></img>
  <br>
</article>
<br>
<br>
<article class="kasten">
Auch Sie dürfen und Du darfst Sponsor sein!
<br>Wir freuen uns über jegliche nützliche Art der Unterstützung und bieten einen Link auf dieser Webpräsenz und vor allem das
großartige Gefühl, etwas für das gute Lebensgefühl und die Musikkultur in der Nordeifel zu tun!

</article>
