<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="google-site-verification" content="IfqgnZLnqwh-phtdsVzlEZP2uTsR08AyCb4GmC6PXB0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="{{ "/css/woffel.css" | prepend: site.baseurl }}" type="text/css">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="orange">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <title>Woffelskrach 2024 - Rursee Openair in Woffelsbach, Nordeifel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Das Rursee-Openair 2024 ist am Start!">
<meta name="keywords" content="Woffelskrach, Rursee-Openair, Woffelsbach, Festival, Rursee, Rurtalsperre, Nordeifel, Friede Freude Woffelskrach">
</head>
