<nav class="menu">
  <a href="/index.html" target="_self">info</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/programm.html" target="_self">programm</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/bands.html" target="_self">bands</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/location.html" target="_self">location</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/sponsoren.html" target="_self">sponsoren</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/galerie.html" target="_self">galerie</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/impressum.html" target="_self">kontakt+impressum</a>
</nav>
