<!DOCTYPE html>
<html dir="ltr" lang="de">

{% include head.html %}

<body>
  {% include nav.html %}
  <main>
    <div class="mitte">
      <div class="content">
          {{ content }}
      </div>
    </div>

    <!-- % #include footer.html %} -->
    <!-- this file not used currently -->
  </main>
</body>
</html>
