<!DOCTYPE html>
<html dir="ltr" lang="de">
{% include head.html %}
<body>
{% include nav.html %}

  <p>
    <img class="logo2020" src="pics/back2024.png" alt="Blick auf Bühne und Publikum davor und See im Hintergrund, Foto mit Ölgemälde-Filter">
  </p>
  <main>
    <div class="mitte">
      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>
    </div>

    <!-- % #include footer.html %} -->
    <!-- this file not used currently -->
  </main>
</body>
</html>
