---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
    <div class="fenster">
        <header class="rand">
            <h4 class="post-title" itemprop="name headline">
                {{ page.title }} |
                <span class="post-meta">
                    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d. %b. %Y" }}</time>
                </span>
            </h4>

            {% if page.author %}<div class="postauthor" align="right"><span itemprop="author" itemscope itemtype="https://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></div>{% endif %}

        </header>

        <div class="post-content" itemprop="articleBody">
            {{ content }}
        </div>
    </div>
</article>
